
.custom-card {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

.custom-logo {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.custom-logo-container {
  background-color: rgba(78, 156, 221, 0.8);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(30px); /* Adjust the blur value as needed */
}