.search-buttons {
  background-color: grey;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
  color: white;
}

.info-itemsxx {
  display: flex;
  align-items: center;
}

.search-button:hover {
  background-color: #0056b3;
}

.table-container table thead {
  position: sticky;
  top: 0;
  background-color: rgb(253, 245, 243);
  z-index: 1;
}