.user-watchlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
  }

.user-info {
    text-align: center;
    margin-bottom: 0px;
  }

  .user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .btn-hover-blue:hover {
    background-color: #0056b3;
    color: white;
  }

.watchlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 90%;
  }

  .watchlist-header h4 {
    font-size: 1.3rem;
  }

  .stocks h3 {
    width: 100%;
    font-size: 1.1em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .watchlist-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .watchlist-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 0 10px 20px;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    max-height: 250px;
    overflow-y: auto;
    min-width: 350px;

  }

  .watchlist-item::-webkit-scrollbar {
    display: none;
  }

  .watchlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .stocks {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .stock {
    padding-bottom: 2px;
    border: 1px solid #ddd;
    border-radius: 2px;
    line-height: 1;
    font-size: 14px;
  }

.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  }

  .watchlist-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

  .icon-container {
    background-color: #5e5e5e;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .icon-container:hover {
    background-color: #525253;
  }

  .options-container {
    position: absolute;
    margin-top: 10px;
    bottom: 60px;
    right: 20px;
    display: none;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .floating-icon:hover .options-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .options-container > * {
    padding: 10px;
    color: #080808;
    cursor: pointer;
  }

  .options-container > *:hover {
    background-color: #f0f0f0;
    transition: display 0.5s ease;
  }

  .watchlist-options-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .watchlist-menu {
    top: 0;
    right: 0;
  }

  .watchlist-options-container div {
    padding: 10px;
    cursor: pointer;
  }

  .watchlist-options-container div:hover {
    background-color: #f1f1f1;
  }


  .watchlist-menu {
    top: 5;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    overflow-y: hidden; /* Hide the vertical scrollbar */
  }

  .dropdown-menu li {
    list-style: none;
  }

  .dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    border: none;
    background: none;
    color: #282828;
  }

  .dropdown-menu button:hover {
    background-color: #f8f9fa;
  }

