
.container {
  margin: 0 auto;
}

.row {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
  background-color: rgb(253, 245, 243);
}

.card-img-top {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  color: #777;
  text-align: center;
}

h4 {
  margin-bottom: 15px;
}

.edit-button {
  position: absolute;
  top: 22px;
  right: 10px;
  background-color: #858585;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
  color: white;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}

.modal-content {
  width: 100%;
}

.modal-body {
  position: relative;
  overflow: hidden;
}

.modal-body img {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
  cursor: pointer;
}

.modal-body .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
}

.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff; /* White color for better visibility */
  cursor: pointer;
  font-size: 1.2rem;
}

.edit-icon:hover {
  color: #0056b3; /* Hover color */
}
