body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  #sidebar {
    height: 100vh;
    background-color: #333;
    padding-top: 20px;
    position: fixed;
    transition: all 0.3s;
  }

  #sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
  }

  #sidebar a:hover {
    background-color: #555;
  }

  #page-content {
    margin-left: 250px;
    padding: 15px;
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }

    #page-content {
      margin-left: 0;
    }

    #sidebar.open {
      margin-left: 0;
    }
  }
