/* Register.css */
.custom-logo {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0px;
  }


.custom-card {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .dots-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dot {
    width: 10px;
    height: 10px;
    background-color: black; /* Change this to your desired dot color */
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: black; /* Change the active dot color if needed */
  }

  /* Add more styles as needed */
