.info-card-container {
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .info-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-icon {
    font-size: 2em;
  }

  .info-value {
    font-size: 18px;
    font-weight: bold;
    color: rgb(97, 97, 97);
  }

  .info-label {
    font-size: 0.8em;
    color: #6c757d;
  }

  .user-info-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .info-card-container {
    margin-right: 10px;

  }