.user-logs-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;
  height: 38px;
}

.filter-bar select,
.filter-bar input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  flex: 1;
  height: 38px;
}

.response-time-filter {
  display: flex;
  align-items: center;
}

.response-time-filter select,
.response-time-filter input {
  padding: 8px;
  margin-right: 5px;
}

.response-time-filter select {
  width: 50px;
}

.response-time-filter input {
  flex: 1;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table th,
.logs-table td {
  word-wrap: break-word;
  white-space: normal;
  word-break: auto-phrase;
  border: 1px solid #ddd;
  overflow-wrap: break-word;
  padding: 8px;
  text-align: left;
  max-width: 250;
}

.logs-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.logs-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.logs-table tr:hover {
  background-color: #f1f1f1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:hover {
  background-color: #0056b3;
  color: white;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon-container {
  background-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-container:hover {
  background-color: #0056b3;
}

.clear-filter-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: #ffffff;
  height: 38px;

  color: #333333;
  border: 1px solid #cccccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.clear-filter-button:hover {
  background-color: #f0f0f0;
  border-color: #999999;
}

.clear-filter-button:focus {
  outline: none;
}

.clear-filter-button:active {
  background-color: #e6e6e6;
  border-color: #666666;
}

.log-details-dialog {
  word-wrap: break-word;
  white-space: normal;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  max-width: 90%;
}

.log-details-dialog button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.log-details-dialog div {
  margin-bottom: 10px;
}
